.content_activity {
  padding-left: 20%;
  padding-top: 5%;
  width: 600px;
  }

  .status {
    font-style: italic;
    color: $pink;
  }


.secondary-button-booking {

  a {
  color: $pink;
  border: solid 2px;
}
}
