.content_booking {
  padding-left: 15%;
  padding-top: 8%;
  width: 600px;
  }

.status {
    font-style: italic;
    color: $pink;
  }

  .card-category p {
    color: $grey;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-weight: 900;
    font-size: 30px;
  }
