.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
  padding: 180px 0;
}

.banner h1 {
  margin: 0;
  padding-top: 100px;
  color: $grey;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: 900;
  font-size: 60px;
  text-align: center;
}
