<h1>Dashboard</h1>

<p><%= link_to "My Activities", '#' %></p>  <%# something /acttivities %>
<p><%= link_to "My Bookings", '#' %></p>  <%# something /bookings %>
<p><%= link_to "My Messages", '#' %></p> <%# something /messages %>
<p><%= link_to "My Profile", '#' %></p> <%# something /username %>
