<div class="main-container">
  <div class="d-flex flex-column">
      <div class="d-flex flex-row justify-content-around">
        <div class= "menu-card-grey">
          <p><%= link_to "MY ACTIVITIES", '#' %></p>  <%# something /activities %>
        </div>
        <div class= "menu-card-white">
          <p><%= link_to "MY BOOKINGS", '#' %></p>  <%# something /bookings %>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-around">
        <div class= "menu-card-white">
          <p><%= link_to "MY MESSAGES", '#' %></p> <%# something /messages %>
        </div>
        <div class= "menu-card-grey">
          <p><%= link_to "MY PROFILE", '#' %></p> <%# something /username %>
        </div>
      </div>
  </div>
</div>
