<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1494177310973-4841f7d5a882?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);">
  <div class="container">
    <%# <%= image_tag "homepage/banner_background.png", alt: "Banner", class: "image_banner" %>
    <h1>LET'S PLAY <strong>FOOTBALL</strong></h1>
  </div>
</div>
