.home-banner {
  background-image: url('https://images.unsplash.com/photo-1591103877275-f62e20079e47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHNwb3J0c3xlbnwwfHwwfGJsYWNrfA%3D%3D&auto=format&fit=crop&w=800&q=60');
  // background-image: url("app/assets/images/banner_background.png");
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}
