.footer {
  background-color: $pink;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  height: 250px;
  padding: 40px 120px;
  // color: rgba(0,0,0,0.3);
}

.footer-logo {
padding-top: 14px;
}

.footer-team {
  display: flex;
  align-items: center;
}

.footer-team ul {

  h2 {
    font-weight: 900;
    font-size: 20px;
    padding-bottom: 8px;
    color: $purple;
  }

  p{
    color: $purple;
    font-size: 18px;
    padding: 0px 4px;
    margin-bottom: 0px;
  }
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
